<header class="site-navbar py-4" role="banner">

    <div class="container">
      <div class="d-flex align-items-center">
        <div class="site-logo">
          <a routerLink="">
            <img src="/assets/images/Asset_5.png" alt="Logo" style="width: 200px;">
          </a>
        </div>
        <div class="ml-auto">
          <nav class="site-navigation position-relative text-right" role="navigation">
            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
              <li routerLinkActive="active"><a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a></li>
              <li routerLinkActive="active"><a routerLink="/infos-site" class="nav-link">About us</a></li>
              <li routerLinkActive="active"><a routerLink="/list-activities" class="nav-link">Liste events</a></li>
              <li routerLinkActive="active"><a routerLink="/login" class="nav-link">Login/LogOut</a></li>

            </ul>
          </nav>

          <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right text-white"><span
              class="icon-menu h3 text-white"></span></a>
        </div>
      </div>
    </div>

  </header>
