<br><br><br>
<div *ngIf="activity">
    <h2>{{ activity.title }}</h2>
    <p>Date: {{ activity.dateEvent | date }}</p>
    <p>Description : {{ activity.description}} </p>
    <div *ngIf="activity.tableField && activity.tableField.length > 0">
        <h3>Informations suuplémentaires:</h3>
        <ul>
            <li *ngFor="let item of activity.tableField">
                Intervenant: {{ item.intervenant }} - Endroit: {{ item.endroit }} - Prérequis: {{ item['pre-requis'] }}
            </li>
        </ul>
    </div>
</div>