<br><br><br>
<app-research-activity></app-research-activity>
<div class="content" style="display: flex; justify-content: space-around; flex-wrap: wrap;">
  <div class="card" style="width: 18rem;" *ngFor="let activity of activities">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ activity.title }}</h5>
      <p class="card-text">Date: {{ activity.date }}</p>
      <button (click)="afficherDetails(activity.id)">Voir les détails </button>
    </div>
  </div>
</div>